{% extends "base.html" %}

{% block main %}
<h1 class="centerText bigTitle">ReplTweet</h1>
<i class="centerText tagline">A twitter clone written with the Replit maqpy framework.</i>
<a class="centerText">View the source</a>
<h3>
<div class="horizontalCenterList">
	<button style="vertical-align: middle; margin: 0px; padding: 20.5px; display: flex;" id="login">
        <div style="padding: 0px; vertical-align: middle; margin: auto;">Login with</div>
        <img style="padding: 3px; vertical-align: middle;" src="https://repl.it/public/images/favicon.ico" alt="Repl.it">
    </div>
</div>
{% endblock %}
{% block js %}
<script src="/static/auth.js"></script>
{% endblock %}